**/data
Assignments/HW*/data
Assignments/HW1/data
Assignments/HW2/data
Assignments/HW3/data
Assignments/HW4/data
Assignments/HW5/data
Sections/__MACOSX/
Sections/matrices.png
Sections/section8/pima_indians_diabetes/pima-indians-diabetes*
Sections/section9_2018/logs
